#joystick_Base{
width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #888;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
  touch-action: none;
}

#joystick_Stick {
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
}

#joystick_Stick:active {
  cursor: grabbing;
}